{% extends 'admin/admin.html.twig' %}

{% block title %}La faune marine{% endblock %}

{% block body %}

<h1>La faune</h1>

<p class="mt-5">
    <a class="btn btn-success btn-sm" href={{ path('admin.fauna.create') }}>Créer une espèce</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fauna in faunas %}
        <tr>
        <td>
             <a href={{ path('admin.fauna.edit', {id: fauna.id}) }}>{{ fauna.name }}</a>
        </td>
        <td>
             <a class="btn btn-primary btn-sm" href={{ path('admin.fauna.edit', {id: fauna.id}) }}>Editer</a>
             <form method="post" action={{ path('admin.fauna.delete', {id: fauna.id}) }} style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fauna.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        </td>

        </tr>
    {% endfor %}
</tbody>
</table>


{{ include('partials/footer.html.twig') }}
{% endblock %}
