{% extends 'admin/admin.html.twig' %}

{% block title %}La flore marine{% endblock %}

{% block body %}

<h1 class="text-center m-3 p-5 border border-3 border-success">La flore</h1>

<div class="container px-4 py-5 my-5 bg-light rounded-3 text-center border border-5 border-primary-subtle">
    <div class="row gx-5">
        <div class="col-md-12">
            <h2 class="p-3 m-1 border border-primary">Liste des espèces de la flore marine</h2>
        </div>
    <div class="row">
        <div class="col-md-12">
            <p>Vous pouvez créer, modifier ou supprimer des espèces de la flore marine.</p>
        </div>
        <div class="col-md-12 m-3">
            <a class="btn btn-success btn-sm" href={{ path('admin.flora.create') }}>Créer une espèce</a>
        </div>
    </div>
</div>

<div class="container text-center mx-auto p-2 border border-primary-subtle rounded-3">
    <div class="row g-2">

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(floras, 'ID', 'f.id') }}</th>
                <th>{{ knp_pagination_sortable(floras, 'Nom', 'f.name') }}</th>
                <th>Espèce</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flora in floras %}
        <tr>
        <td>
            {{ flora.id }}      
        <td>
             <a href={{ path('admin.flora.edit', {id: flora.id}) }}>{{ flora.name }}</a>
        </td>
        <td>
            {% if flora.species is not null %}
                {{ flora.species.name }}
            {% else %}
                Aucune espèce
            {% endif %}
        </td>
        <td>
             <a class="btn btn-primary btn-sm" href={{ path('admin.flora.edit', {id: flora.id}) }}>Editer</a>
             <form method="post" action={{ path('admin.flora.delete', {id: flora.id}) }} style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flora.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        </td>

        </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
 {{ knp_pagination_render(floras) }}

{{ include('partials/footer.html.twig') }}
{% endblock %}