{% extends 'admin/admin.html.twig' %}

{% block title %}La flore marine{% endblock %}

{% block body %}

<h1>La flore</h1>

<p class="mt-5">
    <a class="btn btn-success btn-sm" href={{ path('admin.flora.create') }}>Créer une espèce</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Espèce</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flora in floras %}
            <tr>
        <td>
             <a href={{ path('admin.flora.edit', {id: flora.id}) }}>{{ flora.name }}</a>
        </td>
        <td>
            {% if flora.species is not null %}
                {{ flora.species.name }}
            {% else %}
                Aucune espèce
            {% endif %}
        </td>
        <td>
             <a class="btn btn-primary btn-sm" href={{ path('admin.flora.edit', {id: flora.id}) }}>Editer</a>
             <form method="post" action={{ path('admin.flora.delete', {id: flora.id}) }} style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flora.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        </td>

        </tr>
    {% endfor %}
</tbody>
</table>


{{ include('partials/footer.html.twig') }}
{% endblock %}