{% extends 'base.html.twig' %}

{% block title %}La faune marine{% endblock %}


{% block body %}
{{ include('partials/header.html.twig') }}

<p class="mt-5">
    <a class="btn btn-primary btn-sm" href={{ path('fauna.create') }}>Créer une espèce</a>
</p>

<table class="table">
<thead>
    <tr>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for fauna in faunas %}
        <tr>
        <td>
             <a href={{ path('fauna.show', {id: fauna.id, slug: fauna.slug}) }}>{{ fauna.name }}</a>
        </td>
        <td>
             <a class="btn btn-primary btn-sm" href={{ path('fauna.edit', {id: fauna.id}) }}>Editer</a>
             <form method="post" action={{ path('fauna.delete', {id: fauna.id}) }} style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fauna.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        </td>

        </tr>
    {% endfor %}
</tbody>
</table>


{{ include('partials/footer.html.twig') }}
{% endblock %}
